<script>
    'use strict';

    var ws = null;
    const csrfToken = '<%= csrfToken %>';
    const URL = "ws://localhost:40510";

    $(() => {
        $('#websocket_address').text(URL);
        window.fetchIP();

        function start(){
            ws = new WebSocket("wss://localhost:40510");

            ws.onopen = function(){
                console.log('Websocket connected!');
            };

            ws.onmessage = function(e){
                console.log('Message received', e.data);
                $("#messages").prepend("<p>" + e.data + "</p>");
            };

            ws.onclose = function(){
                console.log('Websocket closed!');
                restart();
            };

        }

        function restart(){
          if(!ws || ws.readyState == 3) start();
        }

        start();
        setInterval(restart, 5000);

        $( "#form" ).submit(function( e ) {
            e.preventDefault();
            ws.send($('#message').val());
        });
    });

  /** Example of a DoS attack **

      setInterval( () => {
          let ws1 = new WebSocket('ws://localhost:40510')

          ws1.onopen = function () {
              console.log('Websocket Connected!')
              ws.send('Websocket Connected!')
          }
      }, 1000)
  */

</script>