<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Web Socket Example</title>
    <script src="jquery/jquery.min.js"></script>

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        window.onload = function () {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://api.ipify.org?format=jsonp&callback=displayIP";
            document.getElementsByTagName("head")[0].appendChild(script);

        };
        function displayIP(response) {
            window.IP = response.IP;
            document.getElementById("ip_address").innerHTML = response.ip;
            createCookie('ip_address', response.ip);
        }
    </script>
</head>

<body id="home">
    <h2>Web Socket Example</h2>
    <p>CSRF Token: <%= csrfToken %></p>
    <p>IP address: <span id="ip_address"></span></p>

    <form id="form">
      <input type="text" value="Hello there" id="message">
      <input type="submit" value="Go">
    </form>

    <h4>Messages </h4>
    <div id="messages" style="border: 1px solid; font-size: 12px;">

    </div>

    <script>
      'use strict';

        var ws = null;
        var csrfToken = '<%= csrfToken %>';

        $(() => {
          function start(){

            ws = new WebSocket("wss://localhost:40510");
            ws.onopen = function(){
                console.log('Websocket connected!');
                ws.send('Ping');
            };

            ws.onmessage = function(e){
              console.log('Message received', e.data);
              $("#messages").prepend("<p>" + e.data + "</p>");
            };

            ws.onclose = function(){
              console.log('Websocket closed!');
              // reconnect now
              check();
            };

          }

          function check(){
            if(!ws || ws.readyState == 3) start();
          }

          start();
          setInterval(check, 5000);
        });

        $( "#form" ).submit(function( e ) {
          e.preventDefault();
          ws.send($('#message').val());
        });


        /** Example of a DoS attack **

            setInterval( () => {
                let ws1 = new WebSocket('ws://localhost:40510')

                ws1.onopen = function () {
                    console.log('Websocket Connected!')
                    ws.send('Websocket Connected!')
                }
            }, 1000)
        */

        /*
           FIXME - write if else for ws / wss according to the http or https ?
           const ws = new WebSocket('ws://localhost:40510');
        */

    </script>
</body>
</html>