<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title == undefined ? "" : title %></title>
    <script src="jquery/jquery.min.js"></script>
    <script>
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }

        window.fetchIP = function () {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://api.ipify.org?format=jsonp&callback=displayIP";
            document.getElementsByTagName("head")[0].appendChild(script);
        };

        function displayIP(response) {
            window.IP = response.IP;
            document.getElementById("ip_address").innerHTML = response.ip;
            createCookie('ip_address', response.ip);
        }
    </script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

<body id="home">
    <h2><%= title %></h2>
    <p>
        WebSocket URL:
        <span id="websocket_address"></span> &nbsp;&nbsp;
        <span id="websocket_status"></span>
    </p>

    <% if(csrfToken != null){ %>
        <p>CSRF Token: <%= csrfToken %></p>
    <% } %>

    <p id="ip_address_container" class="hidden">Client IP address: <span id="ip_address"></span></p>

    <form id="form">
        <input type="text" value="Hello world" id="message">
        <input type="submit" value="Go">
    </form>

    <h4>Messages </h4>

    <div id="messages" style="border: 1px solid; font-size: 12px;">
    </div>

    <%- body %>

</body>
</html>