<script>
    'use strict';

    var ws = null;
    const URL = "ws://localhost:40510";

    $(() => {
        $('#websocket_address').text(URL);
        $('#websocket_status').text('CONNECTING...');

        function start(){
            ws = new WebSocket(URL);

            ws.onopen = function(){
                console.log('Websocket connected!');
                $('#websocket_status').text('CONNECTED');
            };

            ws.onmessage = function(e){
                console.log('Message received', e.data);
                $("#messages").append("<p>Server: " + e.data + "</p>");
            };

            ws.onclose = function(error){
                console.log('Websocket closed!', error);
                $('#websocket_status').text('CLOSED');
                restart();
            };

        }

        function restart(){
          if(!ws || ws.readyState == 3) start();
        }

        start();
        setInterval(restart, 5000);

        $( "#form" ).submit(function( e ) {
            e.preventDefault();
            ws.send($('#message').val());
            $("#messages").prepend("<p> Client: " + $('#message').val() + "</p>");
        });
    });
</script>